body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo .logo-h-part {
    color: #2e2f42;
}

.page-nav .link {
    text-decoration: none;
    font-weight: 500;
    color: #2e2f42;
}

.page-nav .link:hover, :focus {
    color: #404bbf;
}

.contact {
    font-style: normal;
}

.contact .link {
   text-decoration: none;
   color: #434455;
   cursor: pointer;
}

.contact .link:hover, :focus {
    color: #404bbf;
}

h1,
h2 {
    text-align: center;
    font-weight: 700;
    color: #2e2f42;
}

.page-title {
    background-color: rgb(46, 47, 66);
}

.title{
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    letter-spacing: 0.02em;
}

.page-button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.page-button:hover, :focus {
    background-color: #404bbf;;
}

.studio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em
}

.studio-team {
    background-color: rgb(244, 244, 253);
}

.studio-t {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.text {
    font-size: 16px;

}

.card {
    background-color: #ffffff
}

.studio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.page-footer {
    background-color: rgb(46, 47, 66);
}

.logo .logo-f-part {
    color: #f4f4fd;
}

.text-footer {
     color: #f4f4fd;
}


 

